@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  display: none;
}

ul > li{
  list-style: inside;
}

pre{
  font-size: 0.8em !important;
  background-color: #262627;
  padding: 1em;
  border-radius: 1em;
  line-height: 1.5em;
}

@media screen and (max-width: 600px){ 
  pre{
    font-size: 0.5em !important;
    
  }
}
